<div class="col s6 m3">
 <div class="card black contact">
   <div class="card-content white-text">
     <span class="card-title">Conact</span>
     <h4>e: ztretterath@gmail.com</h4>
     <h4>p: (616) 914-7027</h4>
     <div class="container">
       <form action="https://github.com/ztretterath">
         <button  class="btn-large waves-effect waves-light grey" type="submit">Github</button>
       </form>
       <form action="https://www.linkedin.com/in/zachretterath">
         <button class="btn-large waves-effect waves-light grey" type="submit">Linkedin</button>
       </form>
     </div>
   </div>
 </div>
</div>
