<h4 class='aboutMe'>As a teacher I required students to approach me with solutions. As a developer I require the same of myself. I approach every situation knowing a solution exists and work relentlessly to expose it.</h4>
<hr>
<div class="container">
  <i class="icon devicon-ruby-plain"></i>
  <i class="icon devicon-angularjs-plain"></i>
  <i class="icon devicon-atom-original"></i>
  <i class="icon devicon-bootstrap-plain"></i>
  <i class="icon devicon-css3-plain"></i>
  <i class="icon devicon-git-plain"></i>
  <i class="icon devicon-github-plain"></i>
  <i class="icon devicon-html5-plain"></i>
  <i class="icon devicon-heroku-original"></i>
  <i class="icon devicon-javascript-plain"></i>
  <i class="icon devicon-jquery-plain"></i>
  <i class="icon devicon-mysql-plain"></i>
  <i class="icon devicon-mongodb-plain"></i>
  <i class="icon devicon-nodejs-plain"></i>
  <i class="icon devicon-postgresql-plain"></i>
  <i class="icon devicon-trello-plain"></i>
</div>
