<h2 id="siteTitle">Projects</h2>

<div id="projects">
  <!-- <div class="row"> -->
    <a href="https://wanderluster.herokuapp.com/#/">
     <div class="col s6 m3">
       <div class="card black">
         <div class="card-content white-text">
           <span class="card-title"><strong>Wanderluster</strong></span>
           <p class='projectDescription'>
             Plan your next adventure with Wanderluster! While interacting with the OpenWeatherMap API, Wanderluster uses the entire MEAN stack to show the current weather at cities the user has visited and would like to visit. Coming soon - blog posts to share adventures with your frineds and family!
           </p>
           <div class="row">
           </div>
         </div>
       </div>
     </div>
    </a>
    <a href="https://wanderluster.herokuapp.com/#/">
      <div class="col s6 m3">
       <div class="card black">
         <div class="card-content white-text">
           <span class="card-title"><strong>Soccer Mom</strong></span>
           <p class='projectDescription'>
             As a child I never considered the effort required to organize a snack list and share snacks between parents. Enter Soccer Mom Companion. SMC aims to relieve the stress of the Saturday snack predicament. The app utilizes a mongo database and with the magic of Mongoose, JavaScript, HTML5, and CSS3 allows users to create usernames and passwords and begin sharing snack ideas and also to view a calendar (work in-progress) where game times and snacks are compiled.
           </p>
           <div class="row">
           </div>
         </div>
       </div>
     </div>
    </a>
    <a href="#">
     <div class="col s6 m3">
       <div class="card black">
         <div class="card-content white-text">
           <span class="card-title"><strong>Connect Four</strong></span>
           <p class='projectDescription'>
             Welcome to every kid's favorite, indoor-recess activity reimagined for a new generation of players. Connect four highilghts the skills obtained in my first week of coding. This adaptaion utilizes jQuery to give the user complete control over the game board. Coming soon - play against the computer!
           </p>
           <div class="row">
           </div>
         </div>
       </div>
     </div>
   </a>
  <!-- </div> -->
</div>
