<h2 id="siteTitle">Projects</h2>

<div class="container">

  <div id="projects" class="row">
    <div class="col m6">
     <div class="card projects black">
       <div class="card-content white-text">
         <span class="card-title" ng-click="showProj2 = ! showProj2"><strong>Wanderluster</strong></span><br>
         <span>Never book a flight without consulting Wanderluster...</span>
         <div ng-show="showProj2">
           <p class='projectDescription'>
             Plan your next adventure with Wanderluster! While interacting with the OpenWeatherMap API, Wanderluster uses the entire MEAN stack to show the current weather at cities the user has visited and would like to visit. Coming soon - blog posts to share adventures with your frineds and family!
           </p>
           <a href="https://wanderluster.herokuapp.com/#/">
             <h5>Heroku</h5>
           </a>
           <a href="https://github.com/klunghamer/Wanderluster">
             <h5>Github</h5>
           </a>
           <!-- <div class="img">
             <img src="images/wanderluster.png" alt="wanderluster app" />
           </div> -->
         </div>
       </div>
     </div>
    </div>

     <div class="col m6">
       <div class="card projects black">
         <div class="card-content white-text">
           <span class="card-title" ng-click="showProj1 = ! showProj1"><strong>Name of Thrones</strong></span><br>
           <span>Take notes on that one show everyone loves with NoT...</span>
           <div ng-show="showProj1">
             <p class='projectDescription'>
               Name of thrones was created to keep track of all the characters from that show the whole world seems to know. Whether you take notes while reading or during the television series, Name of Thrones will help keep your head from spinning. NoT utilizes the MEAN stack and RESTful routes to deliver fast state switches with two-way data binding.
             </p>
             <a href="https://damp-stream-38293.herokuapp.com/#/">
               <h5>Heroku</h5>
             </a>
             <a href="https://github.com/ztretterath/NameOfThrones">
               <h5>Github</h5>
             </a>
           <!-- <div class="img">
             <img src="images/nameofthrones.png" alt="name of thrones app" />
           </div> -->
         </div>
       </div>
     </div>
   </div>

    <div class="col m6">
      <div class="card projects black">
        <div class="card-content white-text">
          <span class="card-title" ng-click="showProj6 = ! showProj6"><strong>Pong</strong></span><br>
          <span>For when you have too much time on your hands...</span>
          <div ng-show="showProj6">
            <p class='projectDescription'>
              When I graduated from General Assembly I longed for more, fun projects to tackle. I enjoyed my time building local connect four and black jack games and wanted to delve deeper into JavaScript's canvas and what can be built with it in a short period of time.
            </p>
            <a href="https://github.com/ztretterath/Pong">
              <h5>Github</h5>
            </a>
            <!-- <div class="img">
              <img src="images/pong.png" alt="pong game" />
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col m6">
      <div class="card projects black">
        <div class="card-content white-text">
          <span class="card-title" ng-click="showProj5 = ! showProj5"><strong>Book List</strong></span><br>
          <span>Reader or not, use Book List to track your current library...</span>
          <div ng-show="showProj5">
            <p class='projectDescription'>
              Book List is a straight-forward application with some complex roots. Rails serves as an API on the back end and the data is retrieved and displayed for the user with help from JavaScript and AngularJS.
            </p>
            <a href="https://polar-river-55858.herokuapp.com/">
              <h5>Heroku</h5>
            </a>
            <a href="https://github.com/ztretterath/book_list_angularjs">
              <h5>Github</h5>
            </a>
            <!-- <div class="img">
              <img src="images/booklist.png" alt="book list app" />
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col m6">
     <div class="card projects black">
       <div class="card-content white-text">
         <span class="card-title" ng-click="showProj3 = ! showProj3"><strong>Soccer Mom</strong></span><br>
         <span>Prepare and plan for all of your Saturday snack needs...</span>
         <div ng-show="showProj3">
           <p class='projectDescription'>
             As a child I never considered the effort required to organize a snack list and share snacks between parents. Enter Soccer Mom Companion. SMC aims to relieve the stress of the Saturday snack predicament. The app utilizes a mongo database and with the magic of Mongoose, JavaScript, HTML5, and CSS3 allows users to create usernames and passwords and begin sharing snack ideas and also to view a calendar (work in-progress) where game times and snacks are compiled.
           </p>
           <a href="https://rocky-bayou-41529.herokuapp.com/">
             <h5>Heroku</h5>
           </a>
           <a href="https://github.com/ztretterath/soccer_mom">
             <h5>Github</h5>
           </a>
           <!-- <div class="img">
             <img src="images/soccermom.png" alt="soccer mom app" />
           </div> -->
         </div>
       </div>
     </div>
   </div>


   <div class="col m6">
     <div class="card projects black">
       <div class="card-content white-text">
         <span class="card-title" ng-click="showProj4 = ! showProj4"><strong>Connect Four</strong></span><br>
         <span>A reimagined, localized version of the timeless classic...</span>
         <div ng-show="showProj4">
           <p class='projectDescription'>
             Welcome to every kid's favorite, indoor-recess activity reimagined for a new generation of players. Connect four highilghts the skills obtained in my first week of coding. This adaptaion utilizes jQuery to give the user complete control over the game board. Coming soon - play against the computer!
           </p>
           <a href="https://github.com/ztretterath/connect_four">
             <h5>Github</h5>
           </a>
           <!-- <div class="img">
             <img src="images/connectfour.png" alt="connect four app" />
           </div> -->
         </div>
       </div>
     </div>
   </div>
  </div>
</div>
