<h4 class='resume'>e: ztretterath@gmail.com<br>p: (616) 914-7027</h4>
<p class='resume'>
  <strong>Languages & Frameworks:</strong> Javascript, AngularJS, jQuery, CSS, HTML, Ruby, Rails, node.js, Express
  <br>
  <strong>Database/DBMS:</strong> MySql, PostgreSQL, MongoDB
  <br>
  <strong>Management & Deployment:</strong> Git, Github, Command Line, Heroku
  <br>
  <strong>Methodologies:</strong> MVC Pattern, User Stories, Wireframing, Agile Development, Authentication
  <br>
  <br>
  <strong>Projects:</strong>
  <br>
  -Wanderluster: While interacting with OpenWeatherMap API, this app uses the entire MEAN stack to display current weather information for cities around the world.
  <br>
  -Soccer Mom Companion: Allows for users to create accounts and organize snack needs for soccer games. Users with accounts may view other moms’ snack ideas and a calendar to organize game times
  <br>
  -Connect Four: Users enjoy a modernized version of the timeless classic with the help of JavaScript, jQuery, HTML, and CSS
  <br>
  <br>
  <strong>Field Experience:</strong>
  <br>
  General Assembly, WDI, Remote -> Aug 2016 - Nov 2016
  <br>
  - Full-stack web development student at General Assembly
  <br>
  - Conceived and developed applications with HTML, CSS, JavaScript, and the MEAN stack - Collaborated with classmates to solve daily coding challenges
  <br>
  - Utilized Github to interact with peers’ projects and submit work daily
  <br>
  Knapp Forest Elementary, Grand Rapids, Michigan -> Oct 2015 – June 2016
  <br>
  - 5th / 6th grade elementary teacher
  <br>
  - Gathered student data to organize students into classes based on readiness
  <br>
  - Constructed and instructed differentiated lesson plans for math and language arts
  <br>
  - Developed methods for inserting visual learning strategies in the classroom
  <br>
  - Formulated technological lesson plans to enhance student learning and engagement
  <br>
  - Designed and implemented classroom behavioral management systems
  <br>
  <br>
  <strong>Other, Relevant Experiences:</strong>
  <br>
  - Google Gemini and Spheros instructor
  <br>
  - Head coach for middle school Odyssey of the Mind
  <br>
  - Pokémon Fan Club founder and coordinator
  <br>
  - Studied poetry from World War I at Cambridge University (King’s College)
  <br>
  <br>
  <strong>Education:</strong>
  <br>
  General Assembly
  <br>
  - Web Development Immersive – Aug - Nov 2016
  <br>
  Michigan State University
  <br>
  - BA – Graduate with highest honors, 2010-2014
</p>
